<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FaceDetector</servlet-name>
        <servlet-class>servlets.FaceDetector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlets.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindObject</servlet-name>
        <servlet-class>servlets.FindObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillArea</servlet-name>
        <servlet-class>servlets.FillArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractText</servlet-name>
        <servlet-class>servlets.ExtractText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExtractTextFromImageObject</servlet-name>
        <servlet-class>servlets.ExtractTextFromImageObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindBlobs</servlet-name>
        <servlet-class>servlets.FindBlobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFileInServer</servlet-name>
        <servlet-class>servlets.SaveFileInServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SampleColorsFromImageObject</servlet-name>
        <servlet-class>servlets.SampleColorsFromImageObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateWebDocument</servlet-name>
        <servlet-class>servlets.GenerateWebDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadImageFromURL</servlet-name>
        <servlet-class>servlets.DownloadImageFromURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processScribble</servlet-name>
        <servlet-class>servlets.processScribble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillAreaByScribble</servlet-name>
        <servlet-class>servlets.FillAreaByScribble</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FaceDetector</servlet-name>
        <url-pattern>/FaceDetector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindObject</servlet-name>
        <url-pattern>/FindObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillArea</servlet-name>
        <url-pattern>/FillArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractText</servlet-name>
        <url-pattern>/ExtractText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExtractTextFromImageObject</servlet-name>
        <url-pattern>/ExtractTextFromImageObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindBlobs</servlet-name>
        <url-pattern>/FindBlobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFileInServer</servlet-name>
        <url-pattern>/SaveFileInServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SampleColorsFromImageObject</servlet-name>
        <url-pattern>/SampleColorsFromImageObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateWebDocument</servlet-name>
        <url-pattern>/GenerateWebDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadImageFromURL</servlet-name>
        <url-pattern>/DownloadImageFromURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processScribble</servlet-name>
        <url-pattern>/processScribble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillAreaByScribble</servlet-name>
        <url-pattern>/FillAreaByScribble</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
