@font-face {
	font-family: 'functionIcons';
	src:url('fonts/functionIcons.eot?-ni9nkk');
	src:url('fonts/functionIcons.eot?#iefix-ni9nkk') format('embedded-opentype'),
		url('fonts/functionIcons.woff?-ni9nkk') format('woff'),
		url('fonts/functionIcons.ttf?-ni9nkk') format('truetype'),
		url('fonts/functionIcons.svg?-ni9nkk#functionIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="function-"], [class*=" function-"] {
	font-family: 'functionIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    font-size: 25px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.function-sqrtx:before {
	content: "\e800";
}

.function-logx:before {
	content: "\e801";
}

.function-x3:before {
	content: "\e802";
}

.function-cosx:before {
	content: "\e803";
}

.function-draw:before {
	content: "\e804";
}

.function-sinx:before {
	content: "\e805";
}

.function-empty:before {
	content: "\e806";
}

.function-x2:before {
	content: "\e807";
}

.function-x:before {
	content: "\e808";
}

