/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */





html,
button,
input,
select,
textarea {
    color: #222;
    overflow-x: hidden;
}



.rightPanel{
    float: right;
    margin-left: 0px;
}

.canvasStyle {
    background-color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    /*min-height: 994px;*/    
    min-height: 710px;    
    margin-top: 3px;
    margin-left: 1px;
    padding: 1px;
    overflow:hidden;

}









.horizontalButtomsRow {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 215px;
    text-align: center;
}

.horizontalButtomsRow li.buttonInHorizontalList{ 
    max-width: 100%;
    width: 90%;
    float: right;
    margin: 6px;
    display: inline;
    cursor: pointer;
    border: 1px solid #AAA;
}

.horizontalButtomsRow li.buttonInHorizontalList:hover { 
    background: #CCC;
}

.horizontalButtomsRow li.buttonInHorizontalList:active { 
    background: #BBB;
}

.horizontalButtomsRow li.buttonInHorizontalList a { 
    clear: both;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}


.horizontalButtomsRow li { 
    display: inline;
    float: right;
    /* max-width: 30%; */    
    margin: 2px;
}

.horizontalButtomsRow li a {
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: block;
}



.horizontalButtomsRow li.circularBorder { 
    /*max-width: 24%;*/
    
/*    padding-top: 0.6em;
    padding-left: 0.3em;
    padding-right: 0.3em;*/
    
    padding-top: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.4em;

    border:1px solid #bbb;    
    border-radius: 5em;
    text-align: center;
}


/*.circularBorder {



}*/



body {
    font-size: 1em;
    line-height: 1.4;

    -moz-font-feature-settings: "calt";
    -moz-font-feature-settings: "calt=1";
    -ms-font-feature-settings: "calt";
    -o-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
    
    
    
    max-width: 100%;
    overflow-x: hidden;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*@font-face{
    font-family:'Miguta';
    src: url('./fonts/Miguta.otf') format('opentype');
}*/

@font-face {
    font-family: 'Miguta'; 
    src: url('fonts/Miguta.otf');  
}

@font-face {
    font-family: 'Rotunda';
    src: local('Rotunda'), url(./fonts/Rotunda.otf) format('opentype');
}

@font-face {
    font-family: 'Segments7';
    src: local('Segments7'), url(./fonts/7Segments.otf) format('opentype');
}

@font-face {
    font-family: 'Cubica';
    src: local('Cubica'), url(./fonts/Cubica.ttf) format('truetype');
}

@font-face {
    font-family: 'Gracilia';
    src: local('Gracilia'), url(./fonts/Gracilia.ttf) format('truetype');
}



